.Educational-administration-trends-graphic-top video {
    width: 100%;
    object-fit: fill;
}
.Student-world-graphic .tp{
    width: 100%;
    height: 220px;
    background: red;
}
.Student-world-graphic .tp img{
    width: 100%;
    height: 100%;
}
.Student-world-graphic .wz{
    padding: 10px 20px;
}
.Student-world-graphic .rq {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.Student-world-graphic .rq .color{
    float: left;
    width: 80px;
    height: 30px;
    background: #0481ff;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.Student-world-graphic .rq p{
    color: #999;
    font-size: 12px;
}
.Student-world-graphic .rq p{
    float: right;
}
.Student-world-graphic .wz dl dt{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
.Student-world-graphic .wz dl dd{
    font-size: 12px;
    color: #999;
}
.Student-world-graphic ul li{
    transition: all .3s ease;
}
.Student-world-graphic ul li:hover{
    box-shadow: 1px 1px 10px #999;
    transform: scale(1.05);
}
.gd{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
.gd_w{
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}
.gd_w .color{
    width: 208px;
    height: 40px;
    background: #0481ff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
}
.first-page{
    position: absolute;
    top: 50%;
    z-index: 9999;
    left: 50%;
}
.first-page .zit{
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
    color: #fff;
}

#first-words{
    color: #fff;
    font-size: 32px;
}