@font-face {
  font-family: "iconfont"; /* Project id 2412249 */
  src: url('iconfont.woff2?t=1639481486780') format('woff2'),
       url('iconfont.woff?t=1639481486780') format('woff'),
       url('iconfont.ttf?t=1639481486780') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-xuexiao:before {
  content: "\e61a";
}

.icon-siliao:before {
  content: "\e64f";
}

.icon-airudiantubiaohuizhi-zhuanqu_guangyingfengcai:before {
  content: "\e692";
}

.icon-zhaochengguo:before {
  content: "\e73f";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-wode:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e610";
}

.icon-fenlei:before {
  content: "\e622";
}

.icon-gouwuche_huaban:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-zuo-xi:before {
  content: "\e620";
}

