/* 公共样式 */
*{
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}

a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
body{
    overflow-x: hidden;
}
/* 边框动画效果 */
.ah1,.ah2,.ah3,.ah4{
    position: absolute;
}
.ah1{
    width: 0;
    height: 1px;
    position: absolute;
    top: 10px;
    background: #fff;
    left: 10px;
    transition: all .5s;
}
.Journalism ul li:hover .ah1{
    width: calc(100% - 20px);
}
.ah2{
    width: 1px;
    height: 0;
    position: absolute;
    top: 10px;
    background: #fff;
    right: 10px;
    transition: all .5s;
}
.Journalism ul li:hover .ah2{
    height: calc(100% - 20px);
}
.ah3{
    width: 0;
    height: 1px;
    position: absolute;
    background: #fff;
    bottom: 10px;
    right: 10px;
    transition: all .5s;

}
.Journalism ul li:hover .ah3{
    width: calc(100% - 20px);
}
.ah4{
    width: 1px;
    height: 0;
    position: absolute;
    bottom: 10px;
    background: #fff;
    left: 10px;
    transition: all .5s;

}
.Journalism ul li:hover .ah4{
    height: calc(100% - 20px);
}
/* header部分 */
.header{
    width: 100%;
    height: 80px;
    background: #fff;
}
.header_w{
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}
.header_logo{
    float: left;
    width: 340px;
}
.header_logo img{
    width: 80%;
    margin-top: 18px;
    margin-left: 20px;
}
.header_nav{
    float: left;
}
.header_nav ul li {
    float: left;
    line-height: 80px;
    padding: 0px 24px;
}
.header_nav ul li a {
    font-size: 16px;
    color: #2b2b2b;
}
.header_nav ul li:hover{
    background: #0481ff;
}
.header_nav ul li:hover a{
    color: #fff;
}
.header_nav ul li:nth-child(1){
    background: #0481ff;
}
.header_nav ul span{
    line-height: 80px;
}
.header_fr{
    float: left;
    width: 170px;
}
.header_fr img{
    width: 93%;
    margin-top: 23px;
    margin-left: 10px;
}
/* banner */
.banner{
    overflow: hidden;
    position: relative;
    width: 1920px;
    height: 700px;
    margin: 0 auto;
    background: #e7df65;
}
.banner ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
}
.banner ul li {
    float: left;
}
.banner h1{
    color: #fff;
    font-size: 150px;
    text-align: center;
    line-height: 600px;
}
.banner ol li{
    display: none;
}

#zuo{
    position: absolute;
    top: 50%;
    left: 15%;
    margin-top: -50px;
    color: #fff;
    font-size: 60px;
    opacity: .8;
}
#you{
    margin-top: -50px;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 80px;
    opacity: .8;
}
#zuo:hover{
    color: #4482ff;

}
#you:hover{
    color: #4482ff;
}
/*通知公告以及学校介绍部分*/
.introduce_w{
    width: 1400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 636px;
    margin: 0 auto;
    height: 385px;
}
.introduce_w .introduce_notice{
    width: 1340px;
    height: 64px;
    background: #fff;
    margin-bottom: 18px;
}
.introduce_notice{
    padding: 23px 30px;
}
.introduce_notice .top{
    height: 23px;
    width: 100%;   
    margin-bottom: 20px;
}
.introduce_notice .fl i{
    float: left;
    color: #0481ff;
    font-size: 20px;
    margin-right: 2px;
}
.introduce_notice .fl p{
    float: left;
}
.introduce_notice .fl p span{
    color: #a1a1a1;
    font-size: 12px;
}
.introduce_notice .fr{
    float: right;
    text-align: center;
}
.introduce_notice .fr .z {
    width: 23px;
    font-weight: bold;
    height: 23px;
    float: left;
    background: #e2e2e2;
}
.introduce_notice .fr .z:hover{
    background: #4482ff;
    color: #fff;
}
.introduce_notice .fr .y{
    margin-left: 8px;
    color: #fff;
    font-weight: bold;
    background: #4482ff;
    width: 23px;
    height: 23px;
    float: left;
}
.introduce_notice .botoom .kz {
    float: left;
}
.introduce_notice .botoom  p{
    transition: .5s;
    color: #707070;
}
.introduce_notice .botoom  p:hover{
    color: red;
}
.introduce_notice .botoom .ky{
    float: right;
}
.introduce_w .introduce_bottom{
    height: 257px;
    background: #000;
}
.introduce_bottom #bianju{
    height: 177px;
    padding: 40px 30px;
}
.introduce_bottom #bianju .top{
    position: relative;
    width: 100px;
    height: 25px;
    margin-bottom: 30px;
}
.introduce_bottom #bianju .top .Transparent{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
}
.introduce_bottom #bianju .top .title {
    position: absolute;
    line-height: 25px;
    color: #fff;
    top: 0;
}
.introduce_bottom #bianju .top .title i {
    font-size: 20px;
    margin: 0px 4px;
}
.introduce_bottom #bianju .wenzi {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    float: left;
}
.introduce_w .introduce_bottom .introduce_bottom_brief-introduction{
    width: 207px;
    height: 100%;
    background: #04d3c8;
    float: left;
}
.introduce_w .introduce_bottom .introduce_bottom_Message{
    width: 494px;
    background: #4482ff;
    float: left;
    height: 100%;
}
#bianju .wenzi p{
    line-height: 25px;
}
.Studet-world-r{
    position: relative;
    width: 100%;
    background: #0481ff;
}
.Rotation-chart{
    width: 500px;
    height: 380px;
    background: yellow;
    float: left;
}
.Rotation-chart .Rotation{
    width: 500px;
    height: 300px;
    background: green;
    overflow: hidden;
    position: relative;
}
.Rotation-chart .Rotation ul li{
    float: left;
}
.Rotation-chart .Rotation ol .zuo {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #fff;
    font-size: 22px;
    display: none;
}
.Rotation-chart .Rotation ol .you {
    position: absolute;
    top: 50%;
    font-size: 22px;
    right: 10px;
    color: #fff;
    display: none;
}
.Rotation-chart .Rotation ol .you:hover{
    display: none;
    color: #4482ff;
}
.Rotation-chart .Rotation ol .zuo:hover{
    display: none;
    color: #4482ff;

}
.Rotation-chart .wenzi .fl{
    width: 90px;
    height: 80px;
    background: #0481ff;
}
.Rotation ul{
    position: absolute;
    width: 500%;
    left: 0;
    top: 0;
}
.Rotation-chart .wenzi {
    width: 500px;
    height: 80px;
    background: #f1f3f4;
}
.Rotation-chart .wenzi .fl h3 {
    margin-top: 15px;
    color: #fff;
    font-size: 32px;
    line-height: 29px;
}
.Rotation-chart .wenzi .fl span{
    font-size: 12px;
    color: #fff;
}
.Rotation-chart .wenzi .fl {
    text-align: center;
    float: left;
}

.Rotation-chart .wenzi p{
    float: left;
    color: #999;
    line-height: 80px;
    margin-left: 10px;
}
.Journalism{
    margin-left : 60px;
    float: left;
}
.bianjue{
    margin: 0px 15px;
}
.bgcolor{
    background: '';
}
.current{
    z-index: 99;
    background: #4482ff;
}
/* .Journalism ul {
    position: absolute;
} */
.Journalism ul li{
    padding: 46px 27px;
    position: relative;
    transition: all .5s ease;
    width: 216px;
    float: left;
    height: 288px;
    background: #f1f3f4;
}
.Journalism ul li h3 {
    line-height: 30px;
    color: #999;
    font-size: 32px;
    font-weight: bold;
}
.Journalism ul li span{
    color: #b5b5b5;
    font-size: 12px;
}
.Journalism ul li .xbt{
    margin-top: 25px;
    line-height: 28px;
    color: #000;
    font-size: 18px;
}
.Journalism ul li .wz {
    color: #787878;
    margin-top: 42px;
    font-size: 14px;
}
.Journalism ul li:hover .xbt{
    color: #fff;
}
.Journalism ul li:hover h3{
    color: #ececec;
}
.Journalism ul li:hover span{
    color: #ececec;
}
.Journalism ul li:hover .wz{
    color: #e0e0e0;
}
.Journalism ul li:hover{
    transform: scale(1.1);
    /* box-shadow: 5px 1px 10px #ccc; */
    background: #4482ff;
}
.Professional-category-graphic ul li:hover{
    transform: scale(1.1);
}
.Professional-category-graphic ul li:hover div img {
    transform: translateY(0px);
    
}

.effect img {
    transform: translateY(-85px);
    transition: all .3s ease;
}
.effect{
    position: absolute;
    top: 18%;
    left: 23%;
    text-align: center;
    width: 85px;
    overflow: hidden;
    height: 85px;
    
}
.introduce_bottom_Message .tp{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 230px;
    height: 230px;
    background: url(../image/shoushi.png)no-repeat;
    background-size: 100%;
    z-index: 22;
}
.introduce_bottom_success{
    width: 200px;
    background: #3e436a;
    float: left;
    height: 100%;
}
.introduce_bottom_Elegant-demeanor{
    width: 259px;
    background: #fe9a00;
    float: left;
    height: 100%;
}
/* Campus-information模板 */
.Campus-information{
    width: 100%;
    height: 693px;
    /* background: ; */
    margin-top: 340px;
}
.Campus-information_w{
    margin: 0 auto;
    width: 1400px;
}
.Campus-information-title{
    height: 125px;
    text-align: center;
    margin-bottom: 50px;
}
.Campus-information-title p{
    font-size: 14px;
    color: #a1a1a1;    
}
.Campus-information-title h3{
    font-size: 28px;
    margin-bottom: 30px;
}
.Campus-information-title ul{
    padding: 0 354px;
}
.Campus-information-title ul li{
    float: left;
    line-height: 48px;
    width: 116px;
    height: 48px;
    background: #ddd;
    border-radius:30px;

}
.Campus-information-title ul li a{
    color: #474646;
    transition: .5s all;
    font-size: 16px;
}
.Campus-information-title ul li:hover{
    background: #0481ff;
}
.Campus-information-title ul li:hover a{
    color: #fff;
}
.Campus-information-graphic{
    width: 100%;
    height: 380px;
}
.Campus-information-title .bj{
    margin: 0px 28px;
}
/* Educational-administration-trends部分 */
.Educational-administration-trends{
    width: 100%;
    height: 880px;
    background: #f8f9fd;
    padding-top: 84px;
}
.Educational-administration-trends_w{
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}
.Educational-administration-trends-title{
    text-align: center;
}
.Educational-administration-trends-title p{
    color: #a1a1a1;
    font-size: 14px;
}
.Educational-administration-trends-title h3{
    font-size: 28px;
    margin-bottom: 56px;
}
.Educational-administration-trends-graphic{
    width: 100%;
    height: 636px;
    /* background: red; */
}
.Educational-administration-trends-graphic-top{
    width: 100%;
    height: 520px;
    background: #000;
    margin-bottom: 21px;
}
.Educational-administration-trends-graphic-top video {
    width: 100%;
    height: 100%;
}
.po{
    text-align: center;
    width: 450px;
    float: left;
    height: 185px;
    background: #fff;
}
.numU{
    color: #0481ff;
    font-size: 38px;

}
.img img{
    margin-top: 20px;
}
.indc{
    color: #a6a6a6;
    font-size: 14px;
}
/* Professional-category部分 */
.Professional-category{
    width: 100%;
    height: 585px;
    /* background: red; */
}
.Professional-category-w{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.Professional-category-title{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 92px;
}
.Professional-category-title p{
    color: #a1a1a1;
    font-size: 14px;
}
.Professional-category-title h3{
    font-size: 28px;
}

.Professional-category-graphic ul li {
    transition: all .3s ease;
    width: 150px;
    position: relative;
    height: 130px;
    float: left;
    background: url(../image/DBX.png);
    background-size: cover;
}

.Professional-category-graphic ol li {
    margin-top: 10px;
    text-align: center;
    float: left;
    width: 150px;
}
.professional-bj{
    margin: 0px 58px;
}
/* Student world 部分 */
.Student-world{
    width: 100%;
    height: 650px;
    margin-bottom: 50px;
}
.Student-world-w{
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.Student-world-graphic{
    position: absolute;
    top: -60px;
}
.Student-world-graphic ul li{
    float: left;
    width: 335px;
    height: 440px;
    background: #f5f7fb;
    z-index: 1;
}
.Student-world-graphic dl dd {
    line-height: 23px;
}
.Student-world-tp{
    width: 100%;
    height: 275px;
    text-align: center;
    position: relative;
}
.Student-world-tp p {
    margin-top: 83px;
    font-size: 14px;
    color: #a1a1a1;
}
.Student-world-tp h3{
    font-size: 28px;
    color: #fff;
}
.Student-bg{
    width: 100%;
    height: 100%;
    background: #0b7ff0;
    position: absolute;
    opacity: .8;
}
.picture{
    background: url(../image/banner1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.Student-world-title{
    position: absolute;
    top: 0;
    margin: 0px 895px;
}
.footer{
    background: #0b7ff0;
    width: 100%;
    height: 200PX;
}
.footer-w{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.footer-wenzi{
    padding-top: 28px;
}
.footer-wenzi ul{
    margin-right: 50px;
    float: left;
}
.footer-wenzi ul li{
    line-height: 30px;
    color: #fff;
    font-size: 12px;
}
.footer_logo{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 700px;
    text-align: center;
    float: left;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    height: 150px;
}
.footer_logo img {
    width: 80%;
}
.footer_ewm {
    margin-top: 15px;
    float: left;
}
.footer_ewm ul li{
    width: 86px;
    text-align: center;
    float: left;
}
.footer_ewm ul li P {
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
}
.footer_ewm ul li img {
    width: 100%;
}
.Right-nav {
    /* display: none; */
    position: fixed;
    top: 50%;
    transition: all .5s ease;
    right: -90px;
    width: 42px;
}
.Right-nav ul li{
    width: 42px;
    margin: 5px 0px;
    height: 42px;
    background: #ccc;
    transition: all .5s ease;
    text-align: center;
    line-height: 42px;
}
.Right-nav ul li i {
    font-size: 30px;
    color: #999;
    transition: all .5s ease;
}
.Right-nav ul li:hover i{
    color: #fff;
}
.Right-nav ul li:hover{
    border-radius: 8px;
    background: #0b7ff0;
}
.Right-nav ul li img{
    position: absolute;
    transition: all .5s ease;
    width: 0px;
    bottom: -15px;
    right: 50px;
}
.Right-nav ul li:hover img{
    width: 100px;
}
.content{
    width: 1400px;
    position: relative;
    margin: 0 auto;
    height: 2000px;
}
.content .banner1{
    height: 320px;
    width: 1400px;
    margin: 0 auto;
    background: yellow;
    position: relative;
}
.content .banner1 img{
    width: 100%;
    height: 100%;
}
.bgcolor{
    float: left;
    width: 250px;
    height: 266px;
    background: url(../image/bgcolor.jpg);
}
.content .wz{
    position: absolute;
    width: 240px;
    top: 260px;
    left: 10px;
    z-index: 999;
    height: 266px;
    
}
.content .wz .tle{
    width: 100%;
    height: 60px;
    background: #0b7ff0;
    opacity: .5;
}
.content .wz  p {
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 66px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    opacity: 1;
}
.content .wz ul {
    height: 206px;
    width: 240px;
    background:#a5dcff;
}
.content .wz ul li {
    padding-left: 15px;
    margin: 0px 10px;
    line-height: 50px;
    width: 205px;
    height: 50px;
    color: #0b7ff0;
    border-bottom: 1px #0481ff dashed;
}
.content_t {
    width: 1150px;
    height: 1080px;
    /* background: red; */
    float: left;
}
.content_top {
    line-height: 50px;
    margin: 0px 20px;
    height: 50px;
    border-bottom: 1px #ccc solid;
}
.content_top .fl {
    float: left;
}
.content_top .fl p{
    font-size: 18px;
    font-weight: bold;
}
.content_top .fr {
    float: right;
}
.content_top .fr p{
    font-size: 14px;
    color: #999;
    
}

.content_wz{
    margin: 0px 20px;
}
.content_wz h3 {
    margin: 20px 0px;
    text-align: center;

    font-size: 24px;
    font-weight: 500;
}
.content_wz p {
    line-height: 30px;
    float: left;
    text-indent: 2em;
    font-size: 14px;
}
.content_wz img {
    width: 100%;
}
